*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: hsl(222, 33%, 19%);
  display: grid;
  place-content: center;
  height: 100vh;
  gap: 50vw;
  margin: 0;
}

h1 {
  position: absolute;
  top: 1vmin;
  font-family: Pacifico;
  left: 10%;
  font-size: clamp(30px, 6vmin, 6vmin);
  color: aliceblue;
  @font-face {
    font-family: Pacifico;
    src: url("../Assets/fonts/Pacifico-Regular.ttf");
  }
}
